<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="AI3 Voice Bridge"
        android:supportsRtl="true"
        android:theme="@style/Theme.AI3VoiceBridge">

        <receiver
            android:name=".VoiceTriggerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cprieto.ai3voicebridge.TRIGGER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".VoiceCommandActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AI3VoiceBridge.Transparent">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
